<%- include partials/header.ejs %>

<h1>Compose</h1>

<form class="" name="sub" method="post">
  <div class="mb-3">

    <label class="form-label">Title</label>
    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title" name="titleCont">
  </div>

  <div class="mb-3">
  <label class="form-label">Post</label>
  <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="message" rows="8" cols="80" placeholder="Enter post"></textarea>
    <br>
    <button class="btn btn-primary" type="submit" name="button" >Plublish ☺️</button>
  </div>
  </form>

<%-include partials/footer.ejs %>
